.wrapper {
  
}

.itemWrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  position: relative;
  padding-left: 35px;
}

.item {
  cursor: pointer;
}

.button {
  left: 0px;
  top: 50%;
  transform: translateY(-8px);
}