.wrapper {
  border: 2px solid #1bbc9b;
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 10px;
}

.item {
  font-size: 20px;
  color: #000;
  cursor: pointer;
}


.item:not(:last-child) {
  margin-bottom: 30px;
}

.item__active {
  font-weight: bold;
}