.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  border: 1px solid grey;
  margin-bottom: 15px;
  border-radius: 10px;
  padding: 5px;
  max-width: 615px;
}

.fieldsWrapper {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  flex-wrap: wrap;
}

.field {
  flex-shrink: 0;
  width: 200px;
  margin-right: 20px;
  padding: 5px;
}

.label {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  top: 10px;
}

.label span {
  margin-right: 20px;
}


@media (min-width: 800px) {
  .label {
    margin-bottom: 20px;
  }
}