.wrapper {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: wrap;
  align-items: center;
  width:100%;
}

.field {
  flex-shrink: 0;
  max-width: 200px;
  min-width: 170px;
  width: 45%;
  margin-right: 20px;
  padding: 5px;
  border: 1px solid grey;
  margin-bottom: 15px;
  border-radius: 10px;
}

.fieldLabel {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.flatpickr-input[readonly] {
  cursor: pointer;
  width: 100%;
}